{% extends 'base-acc.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block process %}Login Page{% endblock process %}
{% block content %}
  <div class="d-flex">
    <div class="w-100">
     
    </div>
    <div class="w-100">
      <p class="social-media d-flex justify-content-end">
        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
      </p>
    </div>
  </div>
  <form action="{% url 'login' %}" class="signin-form" method="post">
    {% csrf_token %}

    <div class="form-group mb-3">
      <label class="label" name="username" for="name">Username or Email</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required />
    </div>
    <div class="form-group mb-3">
      <label class="label" name="password" for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required />
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
    </div>
    <div class="form-group d-md-flex">
      <div class="w-50 text-left">
        <label class="checkbox-wrap checkbox-primary mb-0">
          Remember Me<input type="checkbox" checked />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="w-50 text-md-right">
        <a href="{% url 'password_reset' %}">Forgot Password</a>
      </div>
    </div>
  </form>
  <p class="text-center">
    Not a member? <a href="{% url 'signup' %}">Sign Up</a>
  </p>
{% endblock %}
