{% load static %}
{% load humanize %}
{% if comments %}
<div class="comments-area">
    {% if comments|length > 1 %}
    <h4>{{comments.count}} Comments</h4>
    {% else %}
    <h4>1 Comment</h4>
    {% endif %}
    {% for comment in comments %}
    <div class="comment-list">
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb">
            <img src="{% static 'img/user-sample.png' %}" alt="{{user.name}}" />
          </div>
          <div class="desc">
            <h5><a href="#">{{comment.name}}</a></h5>
            <p class="date">{{comment.created_date|naturaltime}}</p>
            <p class="comment">{{comment.message|safe}}</p>
          </div>
        </div>
        {% comment %} <div class="reply-btn">
          <a href="" class="btn-reply text-uppercase">reply</a>
        </div> {% endcomment %}
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}